@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.sidebar {
  position: absolute;
  margin-top: 1vh;
  right: -20vw;
  /* height: 30vh; */
  width: 20vw;
  transition: right 0.3s ease-in-out;
  background-color: white;
}
.sidebar-toggle {
  position: absolute;
  top: 6vh;
  left: -49px;
  height: 50px;
  width: 49px;
  z-index: 1;
  text-align: center;
  background-color: white;
  border-radius: 5px 0px 0px 5px;
}

.sidebar.open {
  right: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search-bar {
  width: 18vw;
}

.suggestions-list{
  top: 14.25vh;
  width: 18vw;
  background-color: rbga(245, 245, 245, 0.5);
  right: 1vw;
}

.suggestion-item {
  width: 18vw;
  background-color: rbga(245, 245, 245, 0.5);
  /* bg-opacity-40 */
  transition: background-color 0.3s ease;
  /* transition-colors duration-300 */

  &:hover {
    background-color: #CBD5E0;
    /* hover:bg-gray-400 */
  }

  padding: 0.25rem;
  /* p-1 */
  border-radius: 0.25rem;
  /* rounded */
  cursor: pointer;
  /* cursor-pointer */
}